[user]
	name = mbalyura
	email = m.balyura@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = micro
[credential]
	helper = store
[alias]
	st = status
	co = checkout
	pu = push -u origin HEAD
	graph = log --graph --abbrev-commit --decorate --all
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
	llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	l = log --pretty=format:\"%C(yellow)%h %C(blue)%>(12)%ad %C(green)%<(7)%aN%C(red)%d %Creset%s\" --date=format:\"%Y-%m-%d %H:%M:%S\"
	lg = log --name-status --pretty=format:\"%C(yellow)%h %C(blue)%>(12)%ad %C(green)%<(7)%aN%C(red)%d %Creset%s\" --date=format:\"%Y-%m-%d %H:%M:%S\"
	a = "!git status --short | peco | awk '{print $2}' | xargs git add"
	df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
	tags = for-each-ref --sort=creatordate --format '%(refname:strip=2) %09  %(creatordate:short)' refs/tags
[url "https://git@"]
	insteadOf = git://
[safe]
	directory = /home/f1del/dev/wordpress-docker/plugins/dmc-social-media
	directory = /home/f1del/dev/wordpress-docker/plugins/dmc-forms
