layout {

    focus-ring {
        active-color   "#51afef"
        inactive-color "#1c1e1e"
        urgent-color   "#ff6b5a"
    }

    border {
        active-color   "#51afef"
        inactive-color "#1c1e1e"
        urgent-color   "#ff6b5a"
    }

    shadow {
        color "#11121270"
    }

    tab-indicator {
        active-color   "#51afef"
        inactive-color "#01548c"
        urgent-color   "#ff6b5a"
    }

    insert-hint {
        color "#51afef80"
    }
}

recent-windows {
    highlight {
        active-color "#51afef"
        urgent-color "#ff6b5a"
    }
}
